body {
    
font-family:Avenir;
	background-color: lightpink;
}

h1
{
	font-weight:     normal;
	color:           #6A7919;
	font-size:       2.5em;
	font-family:Times;
}

h2
{
	font-size:       1.8em;
	font-weight:     normal;
	color:           #94c258;
}

h3
{
	
	font-weight:     normal;
	color:           #94C258;
}
